<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {%for clinic in clinics%}
 
        <div>
            <form method="get">
                <a href="{%url 'clinicView'%}?clinic_id={{clinic.id}}">
                    {% if clinic.title %}{{clinic.title}}{% else %}Clinic #{{clinic.id}}{% endif %}
                </a>
            </form>
        </div>
        

        
        
   
    {%endfor%}

    <a href="{%url 'clinicView' %} ">Add new...</a>
    
</body>
</html>