<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
select[disabled] {
  appearance: none;          
  color: black;
  border: none;
}


</style>

<body>

    <h1>Clinic Submission</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Submit</button>

            {{form}}


            <div class="numform-list" id="">
                {{formset}}
            </div>

             
            </div>

            <button id="add_numForm" class="add-button" type="submit">+</button>
        
    
    </form>
   
   
    



</body>

<script>


</script>
</html>