<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/clinic_card.css' %}">
</head>

<style>
    .front {
        position:fixed;
        top: 0px;
        right: 0px;
    }
    .back {
        position:fixed;
        top: 450px;
        right: 0px;
    }

.body {
  
 margin: 0px;
 gap: 0px;
 padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.preview-cards {
  display: flex;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: auto;

}
</style>

<body>

    <h1>Clinic Submission</h1>
    <form method="POST">
        {% csrf_token %}

            {{form}}


            <div class="numform-list" id="">
                {{formset}}
            </div>

             

            <!-- <button id="add_numForm" class="add-button" type="submit">+</button> -->
        
        <button type="submit">Submit</button>
    
    </form>
    <div class="preview-cards">
    <div class="item front" style="--clinic-color: #ddd;">
      <div class="itemContents">
        <p class="clinic-title" id="clinic-title-front">Clinic Title</p>
    
        <!-- use a div for imageSlot so tags match and CSS applies -->
        <div class="imageSlot" id="image-slot">Image Slot</div>
    
        <div class="managers">Managers</div>
    
        <div class="specificRequestHolder">
          {% for major in majors %}
            <div class="specificRequest" style="background-color: {{ major.color }};">0</div>
          {% endfor %}
        </div>
    
        <div class="generalRequest hidden"> General: 0 </div>
      </div>
    </div>
    
    <div class="item back" style="--clinic-color: #ddd;">
      <div class="clinicDetails itemContents">
        <p class="clinic-title" id="clinic-title-back">Clinic Title</p>
        <div class="linkList" id="link-list">
          <a href="http://example.rowan.edu">[1]</a>
        </div>
        <div class="description" id="clinic-description">Clinic Description</div>
      </div>
    </div>
    </div>
    
</body>

<script src="{% static 'js/project_preview.js' %}"></script>
</html>