<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ user.first_name }} {{ user.last_name }} <br>
    {{ user.email }} <br>
    {%if status == "student" %}
    {{ profile.assigned_clinic }} <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ profileForm.as_p }}
        <button type="submit">Update Profile</button>
    </form>
    {%endif%}
    {%if status == "professor" %}
    {{ profile.assigned_clinic }} <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ profileForm.as_p }}
        <button type="submit">Update Profile</button>
    </form>
    {%endif%}
</body>
</html>