

.body {
  
 margin: 0px;
 gap: 0px;
 padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.main {
  display: flex;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(100vh - 70px);
  overflow-y: auto;

}

.grid {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1240px;
  background-color: #888;
}

.gridWrapper{
  height: calc(100% - 200px);
  margin-left: 20px;
  margin-top: 101px;
  margin-bottom: 0px;
  overflow-y: auto;
  position: absolute;
}




.submission-form {
    position:absolute;
    right:10px;
}
.select-grid {
  position: relative;
  margin-left: auto;
  margin-right: 20px;
  width: 310px;
  min-height: 400px;
 
  background-color: lightgrey;
  justify-content: center;
}

.select-gridWrapper {
    height: calc(100vh - 70px - 51px - 50px - 30px); /*Subtracting the elements above it to  make it match the other grid*/
    overflow-y: auto;
}
/* CSS by PriyanshuGupta28 on Universe.io*/
.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: rgb(93, 49, 1);
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(28, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(51, 39%, 39%) 0%,
    hsl(51, 39%, 49%) 8%,
    hsl(51, 39%, 39%) 92%,
    hsl(51, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(51, 53%, 58%);
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.header {
  display: flex;
  background-color: #aaa;
  width: 100%;
  height: 75px;
  padding: 5px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-right: 20px;
  font-weight: lighter;
  font-size: 36px;
  color: #444;
  left: 20px;

}

.header > :last-child { /* Selects the last element, in this case the right most*/
  margin-right: 30px;
}

.header > :first-child{
  margin-left: 10px;
}

.userName {
    margin: 5px;
}
.userEmail {
    margin: 5px;
    font-size: 18px;
}
.clinicSelection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoButton {
  position: absolute;
  left: 1150px;
  top: 137px;
  display: inline-block;
  content: 'i';
}

.infoButton.show .front {
  background-color: #d64633;
  transition: color 0.2s ease;
  content: 'X';
}

  .popup {
    position: absolute;
    top: 40px; 
    right: 0%;
    background: rgb(232, 175, 70);
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 12px 12px rgba(0,0,0,0.2);
    display: none;
    width: 300px;
    height: 400px;
    z-index: 25;
    color: black;
    font-weight: 100;
  }

  .popup.show {
    display: block;
  }
